/* =============
    Buttons
============= */

button{
    background-color: var(--green);
    border: none;
    padding: 15px 32px;
    border-radius: 30px;
    a{
        color: var(--yellow);
        text-decoration: none;
    }
}