/* =============
    About
============= */

#about-hero{
    h1{
        color: var(--mossGreen);
        font-size: xx-large;
        font-weight: bold;
    }
    p{
        color: var(--black);
        text-align: left;
        width: 50%;
    }
}