/* =============
    About
============= */

#about-hero{
    h1{
        color: var(--mossGreen);
        font-size: xx-large;
        font-weight: bold;
    }
    p{
        color: var(--black);
        text-align: left;
        width: 50%;
        font-size: large;
    }

    padding: 0 10%;
}

#about-content{
    h1{
        display: block;
        padding: 10px 0 0;
    }
    p{
    height: 50px;
    width: 60%;
    margin: 5 10;
    display: inline-block;
    }
    .about-img{
        border-radius: 50%;
        border: 10px solid var(--yellow);
        float: right;
    }
}

#about-button{
    margin: 2% auto 15%;
}