/* =============
    Associations
============= */

#associations-hero{
    padding: 0 20px;
    h1{
        color: var(--mossGreen);
    }
    p{
        width: auto;

        @include md{
            width: 60%;
        }

        @include lg{
            width: 60%;
        }
    }
}

#associations-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    gap: 5px;
    padding: 0 20px;
    margin-right: 30px;

    div{
        h2{
            text-align: left;
            font-size: large;

            @include md{
                font-size: x-large;
            }

            @include lg{
                font-size: x-large;
                text-align: right;
            }

            a{
                color: var(--yellow);
                text-decoration: none;
            }
        }

        P{
            text-align: left;

            @include md{
                padding-left: 30px;                
            }

            @include lg{
                text-align: right;
                padding-left: 300px;
            }
        }
    }
}