/* =============
    Down the Rabbit Hole
============= */

#essay-hero{
    padding: 0 15px;

    h1{
        color: var(--mossGreen);
        text-align: center;
        font-size: xx-large;
    }
    h2{
        color: var(--yellow);
        text-align: center;
    }

    .essay-content{
        width: auto;

        @include md{
            width: 60%;
        }

        @include lg{
            width: 70%;
        }
    }

    .essay-audio{
        margin: auto;

        @include md{
            float: right;
            margin: 15px;
            width: auto;
        }

        @include lg{
            float: right;
            margin: auto;
            width: auto;
        }
    }
}