/* =============
    Index
============= */

#project-hero{
    h1{
        color: var(--mossGreen);
        text-align: center;
    }
    p{
        text-align: center;
        font-size: large;
    }    
}

#project-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 20%;
    gap: 13px;
    padding: 0 20px;

    div{
        width: 100%;
    }

    img{
        width: 90%;   
    }

    h3{
        text-align: center;
    }

    a{
        text-decoration: none;
        color: var(--black);
        font-weight: 600;
    }

    p{
        width: 90%;
    }
}