/* =============
    Footer
============= */

#footer{    
    p{
        font-size:small;
        text-align: center;
    }
    }
    
    #footer-images{
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 7% 40vw 0;
    }